@import "vars";

%wrapper_width {
	width: 100%;
}

%content {
	width: 80%;
	margin: 0 auto;
}

%headers {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: $mainTextColor;
}

%transition {
	transition: all .3s ease-out;
}

@mixin fontFamily {
	font-family: "Roboto", sans-serif;
}