@import "vars";
@import "mixins_extends";

* {
	box-sizing: border-box;
}

body {
	@include fontFamily;
}

.header {
	&__wrapper {
		@extend %content;
		@extend %transition;
	}

	&__menu {
		height: 86px;

		display: flex;
		justify-content: flex-end;
		align-items: center;

		position: relative;
	}

	&__nav {
		position: absolute;
		z-index: 3;
		top: 60px;

		flex-direction: column;
		width: 182px;
		border-bottom: 2px solid $borderColor;
		background-color: #fff;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

		display: none;
	}

	&__nav_item {
		font-size: 11px;
		text-transform: uppercase;
	}

	&__nav_item:not(:last-child) {
		border-bottom: 2px solid $borderColor;
	}

	&__nav_link {
		display: block;
		padding: 8px 13px;

		@include fontFamily;
		text-decoration: none;
		color: $mainTextColor;
		@extend %transition;

		&:hover {
			background-color: $borderColor;
		}
	}
}

.menu_active {
	display: unset;
}

.isActive {
	color: $highlightColor;
}

.burger {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 37px;
	position: relative;
	cursor: pointer;
	background: #000;

	&__element {
		position: relative;
		display: block;
		width: 18px;
		height: 2px;
		background-color: #fff;
		transition-duration: 0.3s;


		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			background-color: #fff;
			transition-duration: 0.3s;

		}

		&:before {
			top: 6px;
			transition-property: top, transform;
		}

		&:after {
			bottom: 6px;
			transition-property: bottom, transform;
		}

	}
}

.burger.burger_active .burger__element {

	background-color: transparent;

	&:after,
	&:before {
		transition-delay: 0s, 0.3s;
	}

	&:after {
		bottom: 0;
		transform: rotate(-45deg);
	}

	&:before {
		top: 0;
		transform: rotate(45deg);
	}

}

.top_banner {

	&_img {
		width: 100%;
		margin-bottom: 38px;
	}
}

@media screen and (min-width: 767px) {
	.header {

		&__menu {
			height: 106px;
			justify-content: center;
		}

		&__nav {
			position: static;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			width: 100%;


			box-shadow: none;
			border: none;


			&_item {
				&:not(:last-child) {
					border-bottom: none;
				}
			}

			&_link {
				display: block;
				padding: 20px 23px;
			}
		}
	}
}

@media screen and (min-width: 1100px) {
	.header {

		&__menu {
			height: 118px;
		}
	}
}

.post {
	&_wrapper {
		@extend %content;
		padding-top: 38px;
	}

	&__header {
		@extend %headers;
		margin-bottom: 23px;
	}

	&__item_image {
		margin-bottom: 10px;
	}

	&__item_text_title {
		font-size: 14px;
		font-weight: bold;
		color: $mainTextColor;

		margin-bottom: 10px;
	}

	&__item_text_details {
		font-size: 11px;
		color: $mainTextColor;

		margin-bottom: 25px;
	}

	&__item_description {
		display: none;
		font-size: 14px;
		line-height: 26px;
	}
}

.wide_post {
	display: none;
}

@media screen and (min-width: 550px) {
	.wide_post {
		display: unset;
	}

	.post {

		&__item {
			display: flex;
			margin-bottom: 32px;

			&_description {
				display: unset;
			}

			&_image {
				margin-right: 20px;
			}
		}
	}
}

@media screen and (min-width: 767px) {

	%content {
		width: 90%;
	}

	%headers {
		font-size: 16px;
	}

	.burger {
		display: none;
	}

	.post {
		&__item {
			width: 585px;
		}
	}
}

@media screen and (min-width: 1170px) {
	.post {

		&__items_container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__item {
			width: calc(50% - 10px);
			margin-left: 10px;
		}


	}
}

.instagram {
	&__wrapper {
		@extend %content;
	}

	&__header {
		@extend %headers;
		padding-top: 38px;
		padding-bottom: 13px;
	}

	&__header_wide {
		display: none;
	}

	&__images {
		width: 100%;
	}

	&__image_container {
		padding-bottom: 42px;
		flex-grow: 1;

	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__image_wide {
		display: none;
	}

	&__image_768 {
		display: none;
	}
}

@media screen and (min-width: 767px) {
	.instagram {
		background-color: rgba(0, 0, 0, 0.03);

		&__images {
			display: flex;
			justify-content: space-between;

		}

		&__image_container {

			&:not(:last-child) {
				margin-right: 9px;
			}
		}

		&__image_768 {
			display: unset;
		}

		&__header_mobile {
			display: none;
		}

		&__header {
			padding: 0;
		}

		&__header_wide {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 47px 0 35px;
		}

		&__link {
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: $mainTextColor;
		}


	}
}

@media screen and (min-width: 1100px) {

	%content {
		width: 75%;
	}

	.instagram {

		&__image_wide {
			display: unset;
		}
	}
}

.footer {
	background-color: #000;
	color: #fff;
	text-align: center;

	&__wrapper {
		@extend %content;
		padding: 0 30px;
	}

	&__header {
		@extend %headers;
		color: #fff;
		text-align: center;

		padding-top: 38px;
		padding-bottom: 10px;
	}

	&__text {
		font-size: 12px;
		line-height: 20px;

		padding-bottom: 25px;
	}

	&__text_wide {
		display: none;
	}

	&__social_icons {
		padding-bottom: 25px;

	}

	&__social_link {
		display: inline-block;
		width: 34px;
		height: 34px;

		&:not(:last-child) {
			margin-right: 6px;
		}
	}

	&__adress {
		font-size: 14px;
		line-height: 24px;
		padding-bottom: 47px;
	}
}